<!DOCTYPE html>
<html lang="en">
<head>
    <% if(title.length> 0){%>
    <title><%=title[0].title%></title>
    <%} else {%>
        <title></title>
    <%}%>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Zeta Template Project - Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/plugins/js-flickr-gallery-1.24/js-flickr-gallery.css">
    <link href="/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/blog_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/blog_responsive.css">
    <script>
        window.onload = function () {
            var next = '';
            var page = parseInt(pageNum());
            next += '<a class="page-link" onclick="return pageNum()"  href="/activity/page/' + (page + 1);
            next += '" >Next</a>';
            document.getElementById('pageNext').innerHTML = next;
            var previous = '';
            previous += '<a class="page-link" onclick="return pageNum()"  href="/activity/page/' + (page - 1);
            previous += '" >Previous</a>';
            document.getElementById('pagePrevious').innerHTML = previous;
        };
        function pageNum() {
            var pageNum = $('#getPageNum').val();
            return pageNum;
        }
    </script>
    <style>
        .dropbtn {
            font-size: 12px;
            border: none;
            background: none;
            text-transform: uppercase;
            color: #0b1033;
            letter-spacing: 3.5px;
            padding-left: 14px;
            padding-right: 10px;
            font-weight: 600;
        }
        .dropbtn:hover{
            cursor: pointer;
            color: #fff;
        }
        .dropdown {
            display: inline-block;
            margin-top: 38px !important;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #28cc28;
            min-width: 160px;
            z-index: 1;
        }
        .dropdown-content a {
            color: #fff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content:hover{
            cursor: pointer;
            color: #fff;
        }
        .dropdown-content a:hover {background-color: #ddd;
            color: #fff;
        }
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {
            background-color: #28cc28;
            color: #fff;
        }
    </style>
</head>

<body>

<div class="super_container">

    <!-- Header -->

    <header class="header d-flex flex-row justify-content-end align-items-center">

        <!-- Logo -->
        <div class="logo_container mr-auto">
            <div class="logo">
                <% if(logo.length > 0){%>
                    <% for(var i=0;i<logo.length;i++){%>
                    <a href="#"><span><img src="/uploads/logo/<%=logo[i].image%>" alt="" style="height: 80px"></span><span></span></a>
                    <%}%>
                <%} else{%>
                    <a href="#"><span><img src="/uploads/logo/logo.jpg" alt="" style="height: 80px"></span><span></span></a>
                <%}%>
            </div>
        </div>

        <!-- Main Navigation -->

        <% include ../partials/navbar %>


    </header>

    <!-- Menu -->

    <!-- Menu -->

    <div class="fs_menu_overlay"></div>
    <div class="fs_menu_container">
        <div class="fs_menu_shapes"><img src="images/menu_shapes.png" alt=""></div>
        <% include ../partials/hamberger %>

        <div class="fs_social_container d-flex flex-row justify-content-end align-items-center">
            <ul class="fs_social">
                <% if(socialAccounts.length > 0){%>
                    <% for(var i=0;i<socialAccounts.length;i++){%>
                    <li>
                        <a href="<%=socialAccounts[i].link%>">
                            <img src="/uploads/socialAccounts/<%=socialAccounts[i].icon%>" alt="" style="height: 25px;width: 25px">
                        </a>
                    </li>
                    <%}%>
                <%} else{%>
                    <li>
                        <a href="">
                            <img src="/uploads/socialAccounts/" alt="" style="height: 25px;width: 25px">
                        </a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>

    <!-- Page Top -->

    <div class="home prlx_parent">

        <!-- Parallax Background -->
        <% if(activityHeaderData.length > 0){%>
        <div class="home_background prlx" style="background-image:url(/uploads/activities/header/<%=activityHeaderData[0].image%>)"></div>
        <div class="services_page_shapes" style="background-image:url(images/services_page_shapes.png)"></div>
        <%} else {%>
        <div class="home_background prlx" style="background-image:url(/uploads/activities/header/)"></div>
        <div class="services_page_shapes" style="background-image:url(images/services_page_shapes.png)"></div>
        <%}%>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home_content">
                        <% if(activityHeaderData.length > 0) {%>
                            <h1><%=activityHeaderData[0].title%></h1>
                            <span><%=activityHeaderData[0].content%></span>
                        <%} else {%>
                            <h1></h1>
                            <span></span>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home_social_container d-flex flex-row justify-content-end align-items-center">
        <ul class="fs_social">
            <% if(socialAccounts.length > 0){%>
                <% for(var i=0;i<socialAccounts.length;i++){%>
                <li>
                    <a href="<%=socialAccounts[i].link%>">
                        <img src="/uploads/socialAccounts/<%=socialAccounts[i].icon%>" alt="" style="height: 25px;width: 25px">
                    </a>
                </li>
                <%}%>
            <%} else{%>
                <li>
                    <a href="">
                        <img src="/uploads/socialAccounts/" alt="" style="height: 25px;width: 25px">
                    </a>
                </li>
            <%}%>
        </ul>
    </div>

    <!-- Blog Content -->

    <div class="blog_content">

        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="blog_main_content">
                        <% if(activities.length > 0){%>
                            <% for(var i=0;i<activities.length;i++){%>
                            <!-- Blog Post -->
                            <article class="blog_post">
                                <div class="blog_post_image">
                                    <div class="blog_post_image_background" style="background-image:url('/uploads/activities/<%=activities[i].image%>')"></div>
                                </div>
                                <div class="date_box d-flex flex-column align-items-center justify-content-center">
                                    <span style="padding: 8px"><%=activities[i].uploaddate%></span>
                                    <input type="text" value="<%=page%>" id="getPageNum" hidden>
                                </div>
                                <h3 class="blog_post_title"><a href="/activity/<%=activities[i]._id%>"><%=activities[i].title%></a></h3>
                                <div class="blog_post_meta">
                                    <span class="blog_post_author"><%=activities[i].postedby%></span>
                                    <span class="blog_post_category"><%=activities[i].category%></span>
                                    <span class="blog_post_comments">2 comments</span>
                                </div>
                                <div class="blog_post_text">
                                </div>
                                <a href="/activity/<%=activities[i]._id%>" class="blog_post_link">read more
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="13px" height="7px" viewBox="0 0 13 7" enable-background="new 0 0 13 7" xml:space="preserve">
								<polygon id="arrow_poly_1" class="arrow_poly" fill="#28CC28" points="13,3.5 9,0 9,3 0,3 0,4 9,4 9,7 "/>
								</svg>
                                </a>
                            </article>
                            <%}%>
                        <%} else {%>
                            <article class="blog_post">
                                <div class="blog_post_image">
                                    <div class="blog_post_image_background" style="background-image:url('/uploads/activities/')"></div>
                                </div>
                                <div class="date_box d-flex flex-column align-items-center justify-content-center">
                                    <span style="padding: 8px"></span>
                                    <input type="text" value="" id="getPageNum" hidden>
                                </div>
                                <h3 class="blog_post_title"><a href="blog_post.html"></a></h3>
                                <div class="blog_post_meta">
                                    <span class="blog_post_author"></span>
                                    <span class="blog_post_category"></span>
                                    <span class="blog_post_comments">2 comments</span>
                                </div>
                                <div class="blog_post_text">
                                </div>
                                <a href="/activity/" class="blog_post_link">read more
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="13px" height="7px" viewBox="0 0 13 7" enable-background="new 0 0 13 7" xml:space="preserve">
								<polygon id="arrow_poly_1" class="arrow_poly" fill="#28CC28" points="13,3.5 9,0 9,3 0,3 0,4 9,4 9,7 "/>
								</svg>
                                </a>
                            </article>
                        <%}%>

                    </div>

                    <div class="blog_nav">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" id="pagePrevious"></li>
                                    <% for(var i=0;i<pages;i++){%>
                                        <% if (page== i+1) { %>
                                        <li class="page-item active"><a style="color: #fff !important;" class="page-link" href="/activities/page/<%=(i+1)%>"><%=(i+1)%></a></li>
                                        <%} else { %>
                                        <li class="page-item"><a class="page-link" href="/activities/page/<%=(i+1)%>"><%=(i+1)%></a></li>
                                        <% } %>
                                    <%}%>
                                    <li class="page-item" id="pageNext"></li>
                                </ul>
                            </nav>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-lg-4">
                    <div class="blog_sidebar">

                        <!-- Search -->
                        <div class="sidebar_section">
                            <div class="sidebar_search">
                                <form action="post">
                                    <div id="search_form" class="search_form">
                                        <input id="blog_search" type="search" placeholder="enter keywords" required="required" data-error="Valid keywords required.">
                                        <button id="search_submit" type="submit" class="search_submit_btn trans_300" value="Submit">

                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <!-- Categories -->
                        <div class="sidebar_section">
                            <div class="sidebar_categories">
                                <div class="sidebar_title">categories</div>
                                <ul>
                                    <% if(categories.length > 0){%>
                                        <% for(var i=0;i<categories.length;i++) {%>
                                        <li><a href=""><%=categories[i].name%></a></li>
                                        <%}%>
                                    <%} else {%>
                                        <li><a href=""></a></li>
                                    <%}%>

                                </ul>

                            </div>
                        </div>






                        <!-- Quote -->

                        <div class="sidebar_section">
                            <div class="sidebar_quote">
                                <div class="sidebar_title">quote of the day</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum, quam tincidunt venen. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur neque non.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row footer_content d-flex flex-sm-row flex-column align-items-center">
                <div class="col-sm-6 cr text-sm-left text-center">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | by <a href="https://softcareit.com/" target="_blank">SoftCareIt</a>
                        </p>
                </div>
                <div class="col-sm-6 text-sm-right text-center">
                    <div class="footer_social_container">
                        <ul class="fs_social">
                            <% if(socialAccounts.length > 0){%>
                                <% for(var i=0;i<socialAccounts.length;i++){%>
                                <li>
                                    <a href="<%=socialAccounts[i].link%>">
                                        <img src="/uploads/socialAccounts/<%=socialAccounts[i].icon%>" alt="" style="height: 25px;width: 25px">
                                    </a>
                                </li>
                                <%}%>
                            <%} else{%>
                                <li>
                                    <a href="">
                                        <img src="/uploads/socialAccounts/" alt="" style="height: 25px;width: 25px">
                                    </a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/greensock/TweenMax.min.js"></script>
<script src="/plugins/greensock/TimelineMax.min.js"></script>
<script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/plugins/greensock/animation.gsap.min.js"></script>
<script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/plugins/progressbar/progressbar.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/js-flickr-gallery-1.24/js-flickr-gallery.js"></script>
<script src="/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/blog_custom.js"></script>
</body>

</html>
