<!DOCTYPE html>
<html lang="en">

<head>
    <% if(title.length> 0){%>
    <title><%=title[0].title%></title>
    <%} else {%>
        <title></title>
    <%}%>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Zeta Template Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap4/bootstrap.min.css">
    <link href="../plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <style>
        .dropbtn {
            font-size: 12px;
            border: none;
            background: none;
            text-transform: uppercase;
            color: #0b1033;
            letter-spacing: 3.5px;
            padding-left: 14px;
            padding-right: 10px;
            font-weight: 600;
        }
        .dropbtn:hover{
            cursor: pointer;
            color: #fff;
        }
        .dropdown {
            display: inline-block;
            margin-top: 43px !important;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #28cc28;
            min-width: 160px;
            z-index: 1;
        }

        .dropdown-content a {
            color: #fff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content:hover{
            cursor: pointer;
            color: #fff;
        }
        .dropdown-content a:hover {background-color: #ddd;
            color: #fff;
        }

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {
            background-color: #28cc28;
            color: #fff;
        }

    </style>
</head>

<body>

<div class="super_container">

    <!-- Header -->

    <header class="header d-flex flex-row justify-content-end align-items-center">

        <!-- Logo -->
        <div class="logo_container mr-auto">
            <div class="logo">
                <% if(logo.length > 0){%>
                    <% for(var i=0;i<logo.length;i++){%>
                    <a href="#"><span><img src="/uploads/logo/<%=logo[i].image%>" alt="" style="height: 80px"></span><span></span></a>
                    <%}%>
                <%} else{%>
                    <a href="#"><span><img src="/uploads/logo/logo.jpg" alt="" style="height: 80px"></span><span></span></a>
                <%}%>
            </div>
        </div>

        <!-- Main Navigation -->


        <% include ../partials/navbar %>

    </header>

    <!-- Menu -->

    <div class="fs_menu_overlay"></div>
    <div class="fs_menu_container">
        <div class="fs_menu_shapes"><img src="images/menu_shapes.png" alt=""></div>
        <% include ../partials/hamberger %>

        <div class="fs_social_container d-flex flex-row justify-content-end align-items-center">
            <<ul class="fs_social">
                <% if(socialAccounts.length > 0){%>
                    <% for(var i=0;i<socialAccounts.length;i++){%>
                    <li>
                        <a href="<%=socialAccounts[i].link%>">
                            <img src="/uploads/socialAccounts/<%=socialAccounts[i].icon%>" alt="" style="height: 25px;width: 25px">
                        </a>
                    </li>
                    <%}%>
                <%} else{%>
                    <li>
                        <a href="">
                            <img src="/uploads/socialAccounts/" alt="" style="height: 25px;width: 25px">
                        </a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>

    <!-- Hero Slider -->
    <div class="container" style="padding: 150px">
        <h2 align="center" style="margin: 20px 0">Company Information</h2>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-12">
                <form enctype="multipart/form-data" action="/applicant/register-form-1-submit" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Company Name">Company Name</label>
                        </div>
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control" id="inputCompanyName"
                                   placeholder="Enter Company Name"
                                    name="companyname" required>
                            <!--primary key Applicant mobile -->
                            <input type="text" value="<%=mobile%>"
                                   name="primarymobile" hidden>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Address 1">Address 1</label>
                        </div>
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control" id="inputAddress1"
                                   placeholder="Enter Company Name Address"
                                    name="companyaddress1" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Address 2">Address 2</label>
                        </div>
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control" id="inputAddress2"
                                   placeholder="Enter Company Name Address"
                                   name="companyaddress2">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Telephone">Telephone</label>
                        </div>
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control" id="inputCompanyTelephone"
                                   placeholder="Telephone"
                                    name="telephone" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Cell Phone">Cell Phone</label>
                        </div>
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control" id="inputCompanyCell"
                                   placeholder="Cell Number"
                                    name="cellphone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="OfficeEmail">Office E-mail Address</label>
                        </div>
                        <div class="form-group col-md-9">
                            <input type="email" class="form-control"
                                   id="inputCompanyEmail"
                                   placeholder="Company Email"
                                   name="email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="OfficeEmail">Office Website Address</label>
                        </div>
                        <div class="form-group col-md-9">
                            <input type="text" class="form-control"
                                   id="inputOfficeWebsite"
                                   placeholder="Company's Website"
                                   name="website" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="Upload">Please Company Logo</label>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="Applicant Picture">Upload Image</label>
                                    <input type="file" class="form-control-file"
                                           id="companyLogo" name="companylogo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-md btn-success" style="background: #28CC28 !important">Next</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>






    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row footer_content d-flex flex-sm-row flex-column align-items-center">
                <div class="col-sm-6 cr text-sm-left text-center">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | by <a href="https://softcareit.com/" target="_blank">SoftCareIt</a>
                    </p>
                </div>
                <div class="col-sm-6 text-sm-right text-center">
                    <div class="footer_social_container">
                        <ul class="fs_social">
                            <% if(socialAccounts.length > 0){%>
                                <% for(var i=0;i<socialAccounts.length;i++){%>
                                <li>
                                    <a href="<%=socialAccounts[i].link%>">
                                        <img src="/uploads/socialAccounts/<%=socialAccounts[i].icon%>" alt="" style="height: 25px;width: 25px">
                                    </a>
                                </li>
                                <%}%>
                            <%} else{%>
                                <li>
                                    <a href="">
                                        <img src="/uploads/socialAccounts/" alt="" style="height: 25px;width: 25px">
                                    </a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../styles/bootstrap4/popper.js"></script>
<script src="../styles/bootstrap4/bootstrap.min.js"></script>
<script src="../plugins/greensock/TweenMax.min.js"></script>
<script src="../plugins/greensock/TimelineMax.min.js"></script>
<script src="../plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../plugins/greensock/animation.gsap.min.js"></script>
<script src="../plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../plugins/progressbar/progressbar.min.js"></script>
<script src="../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="../plugins/easing/easing.js"></script>
<script src="../js/custom.js"></script>
</body>

</html>
